
/* hamburger menu display*/
.hamburger-menu{
    display: none;
}


/* General Styles */
body{
    margin: 0;
    padding: 0;
    background-color: white;
}

#logo, nav, #orderNow{
    transition: all 0.5s ease;
}


/*header styles*/
header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    flex-wrap: nowrap;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 20px;
}



header img{
    width: 150px;
    height: auto;
    margin-bottom: 0px;
    margin-left: 0px;
    border: none;
}





/* Navigation Styles */


ul{
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
}

ul li{
    margin: 0 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;

}

ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: red;
    transition: color 0.3s, text-decoration 0.3s;
    ;
}


#orderNow{
    background-color: red;
    padding: 10px 30px;
    border: red solid 4px;
    font-weight: bold;
    flex-wrap: nowrap;
    font-size: 18px !important;
}

#orderNow:hover{
    background-color: white;
    color: red;
    border: red solid 4px;
    transition: background-color 0.3s, color 0.3s, font-weight 0.3s, border 0.3s;
}

/* Welcome Message Styles */
.welcome-message p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 0px;
    padding: 10px;
    background-color:green;
    color: white;
}

img{
    width: 100%;
    max-width: 100%;
    height: auto;
}

.hero-image{
    position: relative;
    text-align: center;
    color: white;
}

.hero-image button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: larger;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: white;
}

button:hover{
    background-color: black;
    font-weight: bold;
}

/* Responsive Styles */

@media screen and (max-width: 1500px) {
        ul li{
        font-size: 23px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;

    }

    #orderNow{
        padding: 10px !important;
        margin: 0px;
        font-size: 16px !important;
    }

    header img{
        width: 150 !important;
    }
}

@media screen and (max-width: 1150px) {
        ul li{
        font-size: 18px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0px 20px;

    }

    #orderNow{
        padding: 8px 0px !important;
        margin: 0px;
        font-size: 10px !important;
    }

    header img{
        width: 80px !important;
    }
}

@media screen and (max-width: 900px) {
    ul li{
        font-size: 14px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 0px 18px;

    }

    #orderNow{
        padding: 5px 0px !important;
        margin: 0px;
        font-size: 10px !important;
    }

    header img{
        width: 70px !important;
    }
}



    
@media screen and (max-width: 768px){

    header > div:first-of-type nav ul{
        display: none;
    }
    .hamburger-menu{
            display: block;
            cursor: pointer;
            position: relative;
            height: 50px;
            width: 50px;
            /* margin-left: 20rem; */
            position: absolute;
            right: 20px;
        }

    .hamburger-menu span{
            display: block;
            width: 35px;
            height: 3px;
            background-color: white;
            margin: 5px 0px;
            margin-top: 10;
        }
        

    .hamburger-menu.active span:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }

    .hamburger-menu.active span:nth-child(2){
        opacity: 0;
    }

    .hamburger-menu.active span:nth-child(3){
        transform: rotate(-45deg) translate(5px, -5px);
    }
        
    #orderNow{
            font-size: 20px !important;
    }

    .welcome-message p{
        font-size: 14px;
    }

    .hero-image button{
        padding: 10px 20px;
        font-size: medium;
    }

    .off-screen-menu nav ul{
    flex-direction: column !important;
    gap: 40px !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center !important;
    margin: 0 !important;
    padding: 0 !important;

}

.off-screen-menu nav ul li{
    margin: 0 !important;
    padding: 0 !important;
}

.off-screen-menu.active{
    top: 0;
}

    
} 

/*off screen menu styles*/
.off-screen-menu{
    background-color: black;
    height: 100vh;
    width: 100%;
    max-width: 450px;
    position:fixed;
    top: -750px;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    transition: 0.3s ease;
    overflow: hidden;
}

/* Slideshow Styles */
.featured-items {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


